@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="setup-form" method="post" class="d-flex flex-column align-items-center" enctype="multipart/form-data">
    <div class="col-12 d-flex just-content-start">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="row col-12">
        <div class="col-md-12 mb-4">
            <div class="d-flex flex-column justify-content-center align-items-center mb-1">
                <label asp-for="Input.Avatar" class=form-label></label>
                @if (Model.Input.Avatar != null)
                {
                    <img id="profilePicture" class="border rounded-pill" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.Avatar))">
                }
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="form-group col-3">
                    <input type="file"
                           accept=".png,.jpg,.jpeg,.gif,.tif"
                           asp-for="Input.Avatar"
                           class="form-control"
                           onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="Input.Avatar" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 row">
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" value="@Model.Username" />
                <label asp-for="Username" class="form-label"></label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="Input.BirthDate" class="form-control" autocomplete="birthdate" aria-required="true" type="date" />
                <label asp-for="Input.BirthDate" class="form-label"></label>
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="Input.Gender" class="form-control" autocomplete="gender" aria-required="true" disabled/>
                <label asp-for="Input.Gender" class="form-label"></label>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="Input.Weight" class="form-control" autocomplete="weight" aria-required="true" type="number" />
                <label asp-for="Input.Weight" class="form-label"></label>
                <span asp-validation-for="Input.Weight" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="Input.Nationality" class="form-control" autocomplete="birthdate" aria-required="true" disabled />
                <label asp-for="Input.Nationality" class="form-label"></label>
                <span asp-validation-for="Input.Nationality" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="weight" aria-required="true" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-floating">
                <textarea asp-for="Input.Description" class="form-control" autocomplete="bio" aria-required="true"></textarea>
                <label asp-for="Input.Description" class="form-label"></label>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row col-md-8">
        <h3>Cycling specific data</h3>
        <p>You can also update this info later...</p>
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="Input.MaximalHeartRate" class="form-control" autocomplete="heartrate" aria-required="true" type="number" />
                <label asp-for="Input.MaximalHeartRate" class="form-label"></label>
                <span asp-validation-for="Input.MaximalHeartRate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="Input.FunctionalThresholdPower" class="form-control" autocomplete="ftp" aria-required="true" type="number" />
                <label asp-for="Input.FunctionalThresholdPower" class="form-label"></label>
                <span asp-validation-for="Input.FunctionalThresholdPower" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <button id="confirm-button" type="submit" asp-page-handler="ChangeProfile" class="btn btn-lg btn-primary">Update Profile</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
